
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  padding-right: 10vw;
  padding-left: 10vw;
}
.heading span {
  font-size: 1.1rem;
}
.heading img {
  max-width: 800px;
}
.section {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 10vw;
  padding-right: 10vw;
}
.section span {
  padding-top: 40px;
  font-size: 3rem;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom: 8px solid #D97941;
}
.section img {
  padding-top: 20px;
  max-width: 800px;
  width: 100%;
}
.kurtimage {
  display: flex;
  justify-content: center;
}

#workmanship span {
  border-bottom: 8px solid #222426;
}

.ig-embed {
  display: flex;
  justify-content: center;
}

@media (min-width: 1000px) {
  .section {
    font-size: 2rem;
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

