.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}
.began {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
.began span {
  padding-top: 40px;
  width: 50%;
  font-size: 2rem;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom: 8px solid #D97941;
}
.began img {
  padding-top: 20px;
  width: 100%;
}

#workmanship img {
  padding-top: 20px;
  width: 100%;
}
#workmanship {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding-right: 20px;
  padding-left: 20px;
}
#workmanship span {
  padding-top: 40px;
  width: 50%;
  font-size: 2rem;
  border-bottom-right-radius: 5px;
  border-bottom: 8px solid #222426;
}

