* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
body {
  height: 100vh;
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: white;
  display: flex;
  flex-direction: column;
}
main {
  flex: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.logo {
  display: flex;
  justify-content: center;
  padding-right: 5%;
  padding-left: 5%;
}
.logo img {
  max-width: 600px;
}
.slogan {
  text-align: center;
  position: relative;
  color: #A6A6A6;
  padding-top: 1%;
  padding-bottom: 3%;
}





@media (min-width: 700px) {
  .slogan {
    font-size: 2rem;

  }
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  nav ul {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    flex-wrap: wrap;
  }
  nav a {
    width: 100%;
  }
  nav li {
    font-size: 3rem;
    height: 100%;
    padding: 2.5vh;
  }
  
  .top {
    padding-right: 5%;
    padding-left: 5%;
    text-align: right;
    letter-spacing: 5px;
    border-radius: 5px;
    border-right: #A6A6A6 10px solid;
    border-left: #A6A6A6 10px solid;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px #22242699;
  }
  #about {
    background-image: url(img/about/fire-on-copper.jpg);
    background-position: left;
  }
  #gallery {
    background-image: url(img/home/gallery.png);
    background-position: left;
  }
  #contact {
    background-image: url(img/home/about.jpeg);
    background-position: top;
  }
  .bottom {
    padding-right: 5%;
    padding-left: 5%;
    text-align: left;
    letter-spacing: 5px;
    border-radius: 5px;
    border-right: #222426 10px solid;
    border-left: #222426 10px solid;
    color: white;
    background-image: url(img/home/buy.jpeg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px #22242699;
  }
  .bottom:hover {
    box-shadow: inset 0 0 0 1000px #A6A6A6;
    border-right: #D97941 10px solid;
    border-left: #D97941 10px solid;
    color: #222426;
  }
  .top:hover {
    box-shadow: inset 0 0 0 1000px #A6A6A6;
    border-right: #D97941 10px solid;
    border-left: #D97941 10px solid;
    color: #222426;
  }

  #sm {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}





@media (max-width: 699px) {
  .slogan {
    font-size: 1rem;

  }
  nav {
    display: flex;
    flex-direction: column;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }
  nav li {
    font-size: 2rem;
    height: 100%;
    padding: 2.5vh;
  }
  .top {
    margin-right: 5%;
    padding-right: 5%;
    text-align: right;
    padding-left: 5%;
    letter-spacing: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-right: #A6A6A6 10px solid;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px #22242699;
  }
  #about {
    background-image: url(img/about/fire-on-copper.jpg);
    background-position: top;
  }
  #gallery {
    background-image: url(img/home/gallery.png);
    background-position: right;
  }
  #contact {
    background-image: url(img/home/about.jpeg);
    background-position: top;
  }
  .bottom {
    text-align: left;
    margin-left: 5%;
    letter-spacing: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-left: #222426 10px solid;
    color: white;
    background-image: url(img/home/buy.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    box-shadow: inset 0 0 0 1000px #22242699;
  }
  #sm {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
  }
}




