* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
body {
  /* font-family: brandon-grotesque, sans-serif;
  font-weight: 200;
  font-style: normal; */

  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;

  /* background: linear-gradient(360deg, #A6A6A630, #22242680); */
  background: white;
}

#navigation {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#navigation ul {
  height: 100%;
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#navigation li {
  font-size: 3rem;
  height: 100%;

}

.top {
  padding-left: 13%;
  margin-right: 5%;
  letter-spacing: 8px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 15px;
  background-color: #222426;
  color: #A6A6A6;
  border-right: 15px solid #A6A6A6;


}
.logo {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 5px;
}

.slogan {
  text-align: center;
  position: relative;
  color: #A6A6A6;
}

.bottom {
  padding-right: 5%;
  text-align: left;
  margin-left: 5%;
  padding-left: 5%;
  letter-spacing: 8px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 50px;
  background-color: #222426;
  border-left: 15px solid #D97941;
  color: white;
}
#cta {
  background-color: #222426;
  color: white;
} 
.burger-sm {
  display: flex;
}

.burger-sm img {
  width: 100%;
  padding: 20px;
  position: relative;
  top: -30px;

}